:root {
    --familyRoboto: 'Roboto', 'sans-serif';
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste:#1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro:  #ebebeb;
    --colorVerde: #39b54a;
    --tamañoCuerpoTexto: 12px;
    --tamañoTitulares: 24px;
    --tamañoPrecios: 18px;
    --tamañoDescuentos-Descripciones: 16px;

}

* {
    font-family: var(--familyRoboto);
    box-sizing: border-box;
}

body{
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: var(--colorGrisClaro);
    width: 100%;
}
a {
    text-decoration: none;
    color: var(--colorAzul);
}

@media (min-width: 361px){
    .header-home{
    width: 100%;
    }
    .h2-header{margin-top: 35px;margin-bottom: 10px;color: #03264C;margin-left: 25%;}
    
    .cuerpoDetexto-header{
        display: none;
    } 
    
    .icono-lupaBusqueda{
    margin: 0px;
    width: auto;
    margin-top: 25px;
    }
    .lupa-busqueda{border: 1px;height: 34px;background-color: white;border-radius: 5px;}
    .logo-barraBusqueda{
    width: 100%;
    display: flex;
    padding: 5px;
    gap: 4px;
    flex-wrap: wrap;
}
    
    .burger-menu{
    }
    .burger-menu-icon{
    margin-left: 45%;
    }
    .lista-desordenada{
    padding-left: 20px;
    padding-right: 20px;
    }
.ultima-vista-home{
    font-size: 24px;
    color: #666;
    margin-top: 15px;
    margin-left: 15px;
    }
.Ofertas-home{
    font-size: 24px;
    color: #666;
    margin-left: 15px;
    margin-bottom: 15px;
}

.logo-home{width: 45%;height: 43px;/* margin-left: 20px; */margin-top: 20px;}
.home-body{
    
display: block;
}
.barraDeBusqueda-Home{width: 45%;height: 35px;border-radius: 6px;border: 10px;margin-top: 25px;}
.header-cuerpoconIcono{}

.titulares{
}
.descripcion-producto{
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
}
.descripcion-home{
    margin-top: 0px;
}

.precio-home{
    display: flex;
    justify-content: center;
}
.descuentos-home{margin: 20px;color: #39b54a;}
.imagen-producto{width: 298px;height: auto;}
.nombre-producto{
    margin-top: 1px;
    color: #666;
}
.articulo-home{
    
width: 300px;
    
margin: 0px;
    
margin-bottom: 50px;
    
text-align: center;
}
.articulos-section{
    display: flex;
    padding: 18px;
    flex-direction: column;
    align-items: center;
}
.footer-mensaje{}
}

@media screen and (min-width: 769px){
    .header-home{
        width: 100%;
        }
        .h2-header{
    margin-left: 5%;
    margin-top: 45px;
    }
        
        .cuerpoDetexto-header{
        display: flex;
        gap: 20px;
        flex-wrap: nowrap;
        } 
        
        .icono-lupaBusqueda{
        margin: 0px;
        margin-top: 25px;
        }
        .lupa-busqueda{
        border-radius: 0px;
        height: 16px;
        margin-top: 21px;
        }
        .logo-barraBusqueda{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    }
    .nav-header{
    display: flex;
    justify-content: center;
}
        
        .burger-menu{
        display: none;
        }
        .burger-menu-icon{
        align-items: center;
        }
        .lista-desordenada{
        display: inline-flex;
        /* flex-direction: row; */
        /* flex-wrap: wrap; */
        /* align-items: stretch; */
        }
        .nav-header{
    gap: 15%;
    margin-top: 25px;
}
.main-home{
    width: 100%;
}
    .ultima-vista-home{
        margin-bottom: 30px;
        margin-top: 20px;
        margin-left: 30px;
        }
    .Ofertas-home{
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
}
    
    .logo-home{width: 200px;height: 5%;margin-left: 30px;margin-right: 20px;}
    .home-body{
    }
    .barraDeBusqueda-Home{width: 200px;height: 2%;border-radius: 0px;margin-top: 45px;}
    .header-cuerpoconIcono{}
    .articulos-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10%;
    justify-content: center;
    padding: 0px;
}
    
    .titulares{
    }
    .descripcion-home{
    }
    
    .precio-home{}
    .descuentos-home{}
    .imagen-producto{
    /* width: 90%; */
    }
    .articulo-home{width: 300px;/* margin-top: 80px; */}
    .footer-mensaje{}
    }
    
@media screen and (min-width: 1024px){
    .header-home{
    }
    .h2-header{
}
    
    .cuerpoDetexto-header{
    } 
    
    .icono-lupaBusqueda{
    max-width: 400px;
    margin-right: 63.5%;
    }
    .lupa-busqueda{
    }
    .logo-barraBusqueda{
}
    
    .burger-menu{
    margin-left: 47%;
    }
    .burger-menu-icon{
    }
    .lista-desordenada{
    }
.ultima-vista-home{
    margin-top: 30px;
    margin-left: 15px;
    font-size: 16px;
    }
.Ofertas-home{margin-left: 15px;font-size: 16px;}

.logo-home{width: 300px;margin-right: 70%;}
.home-body{
}
.barraDeBusqueda-Home{margin-right: 65%;max-width: 380px;}
.header-cuerpoconIcono{}

.titulares{
}
.descripcion-home{
}

.precio-home{}
.descuentos-home{}
.imagen-producto{
    width: 400px;
    height: auto;
}
.articulo-home{
    margin-top: 10px;
}
.articulos-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}
.footer-mensaje{}
}
    
/*
 Tamaños Tipográficos:
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px
*/