:root {
    --familyRoboto: 'Roboto', 'sans-serif';
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste:#1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro:  #ebebeb;
    --colorVerde: #39b54a;
    --tamañoCuerpoTexto: 12px;
    --tamañoTitulares: 24px;
    --tamañoPrecios: 18px;
    --tamañoDescuentos-Descripciones: 16px;

}

* {
    font-family: var(--familyRoboto);
    box-sizing: border-box;
}

body{
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: var(--colorGrisClaro);
    width: 100%;
}
a {
    text-decoration: none;
    color: var(--colorAzul);
}

@media (min-width: 361px){
    .header-home{
    width: 100%;
    }
    .h2-header{
}
    
    .cuerpoDetexto-header{
    } 
    
    .icono-lupaBusqueda{
    }
    .lupa-busqueda{
    }
    .logo-barraBusqueda{
    width: 80%;
    margin-left: 0;
}
    
    .burger-menu{
    }
    .burger-menu-icon{
    }
    .lista-desordenada{
    padding-left: 20px;
    padding-right: 20px;
    }
.ultima-vista-home{
    }
.ofertas-home{}

.logo-home{margin-right: 80px;width: 40%;}
.home-body{
    
display: block;
}
.barraDeBusqueda-Home{}
.header-cuerpoconIcono{}

.titulares{
}
.descripcion-home{
    margin-top: 0px;
}

.precio-home{margin-top: 40px;}
.descuentos-home{margin: 10px;}
.imagen-producto{
}
.articulo-home{}
.footer-mensaje{}
}

/*
 Tamaños Tipográficos:
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px
*/