:root {
    --familyRoboto: 'Roboto', 'sans-serif';
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste:#1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro:  #ebebeb;
    --colorVerde: #39b54a;
    --tamañoCuerpoTexto: 12px;
    --tamañoTitulares: 24px;
    --tamañoPrecios: 18px;
    --tamañoDescuentos-Descripciones: 16px;

}

* {
    font-family: var(--familyRoboto);
    box-sizing: border-box;
}

body{
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: var(--colorGrisClaro);
    width: 100%;
}
a {
    text-decoration: none;
    color: var(--colorAzul);
}

@media (min-width: 361px){
    .header-home{
    width: 100%;
    }
    .h2-header{
}
    
    .cuerpoDetexto-header{
    } 
    
    .icono-lupaBusqueda{
    margin-left: 45px;
    }
    .lupa-busqueda{
    }
    .logo-barraBusqueda{
    width: 80%;
    margin-left: 0;
}
    
    .burger-menu{
    }
    .burger-menu-icon{
    margin-left: 45%;
    }
    .lista-desordenada{
    padding-left: 20px;
    padding-right: 20px;
    }
.ultima-vista-home{
    }
.ofertas-home{}

.logo-home{margin-right: 95px;width: 40%;}
.home-body{
    
display: block;
}
.barraDeBusqueda-Home{
    margin-left: 40px;
}
.header-cuerpoconIcono{}

.titulares{
}
.descripcion-home{
    margin-top: 0px;
}

.precio-home{margin-top: 40px;}
.descuentos-home{margin: 10px;}
.imagen-producto{
}
.articulo-home{}
.footer-mensaje{}
}

@media screen and (min-width: 769px){
    .header-home{
        }
        .h2-header{
    }
        
        .cuerpoDetexto-header{
        } 
        
        .icono-lupaBusqueda{
        margin-right: 240px;
        }
        .lupa-busqueda{
        }
        .logo-barraBusqueda{
    }
        
        .burger-menu{
        /* margin-left: 45%; */
        }
        .burger-menu-icon{
        margin: 0px;
        }
        .lista-desordenada{
        display: inline-flex;
        /* flex-direction: row; */
        /* flex-wrap: wrap; */
        /* align-items: stretch; */
        }
    .ultima-vista-home{
        }
    .ofertas-home{}
    
    .logo-home{
    /* margin-right: 220px; */
}
    .home-body{
    }
    .barraDeBusqueda-Home{
    margin-right: 250px;
}
    .header-cuerpoconIcono{}
    
    .titulares{
    }
    .descripcion-home{
    }
    
    .precio-home{}
    .descuentos-home{}
    .imagen-producto{
    /* width: 90%; */
    }
    .articulo-home{/* width: 90%; *//* margin-top: 80px; */}
    .footer-mensaje{}
    }
    
@media screen and (min-width: 1024px){
    .header-home{
    }
    .h2-header{
}
    
    .cuerpoDetexto-header{
    } 
    
    .icono-lupaBusqueda{
    max-width: 400px;
    margin-right: 63.5%;
    }
    .lupa-busqueda{
    }
    .logo-barraBusqueda{
}
    
    .burger-menu{
    margin-left: 47%;
    }
    .burger-menu-icon{
    }
    .lista-desordenada{
    }
.ultima-vista-home{
    margin-top: 30px;
    margin-left: 15px;
    font-size: 16px;
    }
.Ofertas-home{margin-left: 15px;font-size: 16px;}

.logo-home{width: 300px;margin-right: 70%;}
.home-body{
}
.barraDeBusqueda-Home{margin-right: 65%;max-width: 380px;}
.header-cuerpoconIcono{}

.titulares{
}
.descripcion-home{
}

.precio-home{}
.descuentos-home{}
.imagen-producto{
    width: 400px;
    height: auto;
}
.articulo-home{
    margin-top: 10px;
}
.articulos-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}
.footer-mensaje{}
}
    
/*
 Tamaños Tipográficos:
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px
*/