.header-home{
    background-color: var(--colorAmarillo);
}
.h2-header{
    font-size: var(--tamañoCuerpoTexto);
}

.cuerpoDetexto-header{
    font-size: var(--tamañoCuerpoTexto);
} 

.icono-lupaBusqueda{
    width: 100%;
    /* max-width: 300px; */
    /* margin-left: 92.5px; */
}
.lupa-busqueda{
    border: 0.7px solid rgba(0, 0, 0, 0.4);
    border-radius: 1px;


}

.burger-menu{
    /* margin-left: 160px; */
}
.burger-menu-icon{
background-color: var(--colorCeleste);
font-size: 24px;
border: none;
border-radius: 2px;
margin-top: 20px;
margin-bottom: 17px;
}