.logo-barraBusqueda{
}
.ultima-vista-home{display: flex;box-sizing: border-box;}
.ofertas-home{}

.logo-home{
}

.barraDeBusqueda-Home{
}
.header-cuerpoconIcono{
    font-size: 10px;
    margin-left: 80px;
    margin-bottom: 15px;
    color: var(--colorAzul);
}

.titulares{
    font-size: var(--tamañoTitulares);
}

.precio-home{
    font-size: var(--tamañoPrecios);
}
.descuentos-home{
    font-size: var(--tamañoDescuentos-Descripciones);

}
.imagen-producto{
}
.articulo-home{
    border: 0.5px solid #ccc;
    /* background-color: white; */
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
}